.fontJustify{
	text-align: justify;
    text-justify: inter-word;
    
}
.barsShape{
	border-radius: 20px;
}
.textColor{
	color:black;
}
bodyColor{
	background-color:#FFDEAD;
}
.samplePicsShape{
	border-radius: 10px;
}
.samplePicsCaption{
	text-align:center;
	 font-size: 1em;
	 width:17.5em;
	 height:1.8em;
	 margin-top: 0.8em;
}