* {
    box-sizing: border-box;
}

body{
    background-color:black;
    font-family:Arial, Helvetica, sans-serif;
}

.header{
    padding-left: 3px;
    font-size: 1vm;
    color: #eeeeee;
}

.title{
    padding-left: 8px;
    font-size: 1vm;
    color:#eeeeee;
}

.side{
    width: 10%;
    float: left;
    padding: 1px;
    border: 1px solid black;
    background-color: #111;
    overflow-x: scroll;
    height: 100%;
    text-align:center;
}

.content{
    width: 90%;
    float: left;
    padding: 1px;
    border: 1px solid black;
}


img.myPic{
    border-radius: 5%;
    margin-top: auto;
    border: 1px solid black;
    width: 100%;
}


.column {
  float: left;
  padding: none;
  font-size: 0.97 vm;
}

#column1{
  width: 35.60%;
  background-color: #9966ff;
}
#column2{
  width: 32.33%;
  background-color:#bb99ff
}
#column3{
  width: 32%;
  background-color:#bb99ff;
}

/* Clear floats */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.titles{
    color:#003399;
}

li.b{
    list-style-type: none;
    color: #bb99ff;
}

li.c{
    list-style-type: none;
    color: #9966ff;
}

li.a{
    list-style-type: square;
}

.content2{
    width: 90%;
    float: right;
    padding: 1px;
    border: 1px solid black;
    background-color:#bb99ff;
}

.content3{
    width: 90%;
    float: right;
    padding: 1px;
    border: 1px solid black;
    text-align:center;
    background-color:black;
    color: #eeeeee;
}

.language{
    font-size: 0.95vm;
}

#container {
  text-align: center;
}

.button {
  display: inline-block;
  width: 70px;
  height: 70px;
  font-weight: 600;
  border-radius: 15px 30px;
  border: 1px solid #9966ff;
  margin-top: 15px;
}

#javaBtn{
  background: url(jCup.png);
  background-size: contain;
  background-repeat: no-repeat;
}

#cvBtn{
  background-color: #eeeeee;
}
